<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  	   xmlns:aop="http://www.springframework.org/schema/aop"
	   xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:tx="http://www.springframework.org/schema/tx"
  xsi:schemaLocation="
         	 http://www.springframework.org/schema/beans
       	 	 http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
         	 http://www.springframework.org/schema/tx
         	 http://www.springframework.org/schema/tx/spring-mvc-4.3.xsd
          	 http://www.springframework.org/schema/context
          	 http://www.springframework.org/schema/context/spring-context-4.3.xsd
          	 http://www.springframework.org/schema/mvc
          	 http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
          	 http://www.springframework.org/schema/aop
             http://www.springframework.org/schema/aop/spring-aop-4.3.xsd">
             
	    <!--SpringMVC的配置文件 ：主要包含网站跳转的控制，配置-->

	    <!-- 开启注解扫描,扫描controller包 -->
	    <context:component-scan base-package="com.lwh.controller"/>

		<!-- 配置视图解析器  方便页面返回 -->
		<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		 <!-- spring中加入jstl标签库 -->
           <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"></property>
           			<!-- 前缀 -->
           			<property name="prefix" value="/WEB-INF/views/"></property>
           			<!-- 后缀 -->
           			<property name="suffix" value=".jsp"></property>
           </bean>
           
        <!-- 两个标准配置 -->
        <!-- 将SpringMVC不能处理的请求交给tomcat -->
        <mvc:default-servlet-handler></mvc:default-servlet-handler>

	    <!-- 能支持SpringMVC更高级的一些功能  JSR303的校验，快捷的ajax，映射动态请求-->
         <mvc:annotation-driven>
           		<!-- <mvc:message-converters>
          		   <bean class="org.springframework.http.converter.StringHttpMessageConverter"/>
           		   <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter"/>
  			   </mvc:message-converters>
            -->
		 </mvc:annotation-driven>

	<!-- SPringmvc的拦截器 -->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <bean class="com.lwh.util.LoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

		
</beans>